@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Major+Mono+Display&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


li {
    list-style: none;
}

.navbar {
    display: flex;
    flex-flow: column;
    color: white;
    height: 100%;

    transition: ease-in-out;
    font-family: "Montserrat", Arial, sans-serif;
}


.navbar-links {
    color: inherit;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1rem);
    text-decoration: none;
    padding: 1rem;
    margin-top: 50px;
}

.navbar-links li {
    margin-bottom: 15px;
}

.navbar-links li:hover {
    font-weight: 600;
    transition: transform 250ms ease-in-out;
}

li:hover::after {
    transform: scaleX(1);
}

li.selected {
    color: white !important;
}

a,
a:visited {
    text-decoration: none;
    color: white;
}

.navbar-title {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    padding: 1rem;
}

.navbar-subtitle {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    padding-left: 1rem;
}

/* Responsividade */
@media (min-width: 1400px) {
    .navbar-links {
        font-size: large;
    }

    .navbar-links li {
        margin-bottom: 1.5rem;
    }
}