.main-container-home {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
}

.home-resume {
    position: absolute;
    right: -100%;
    width: 350px;
    font-size: 17px;
    color: white;
    font: Manrope, sans-serif;
    text-align: justify;
    opacity: 0;
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        right: -100%;
        opacity: 0;
        /* Começa fora da tela */
    }

    to {
        right: 2rem;
        opacity: 1;
        /* Para dentro da tela (ajuste conforme necessário) */
    }
}

/* Responsividade */
@media (min-width: 1400px) {
    .home-resume {
        width: 500px;
        font-size: 18px;
        color: white;
        font: Manrope, sans-serif;
    }
}